# Ignore Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.log

# VSCode settings
.vscode/

# Env files
.env

# Streamlit cache
.streamlit/

# FAISS index files if saved
index.faiss
index.pkl
